
#product-overview {
  background: url(images/Dog.jpg) center 10%/cover no-repeat border-box;
  /* above applies same settings as commented out below  
  background-image: url(Dog.jpg);
  background-position: center 10%;
  background-size: cover;  
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box; */
  width: 100vw;
  height: 33vh;
  padding: 0.6rem;
  margin-top: 2.8rem;
  position: relative;
}

/* applies to all h1 tags inside a product-overview id */
#product-overview h1 {
  color: white;
  font-family: "Aubrey", system-ui;
  position: absolute;
  left: 4%;
  bottom: 4%;
}

.section-title {
  color: rgb(22, 172, 122);
  text-align: center;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background-color: aquamarine;
  text-align: center;
  padding: 0.75rem;
  margin: 0.5rem;
  display: inline-block;
  width: calc(33% - 1rem);
  vertical-align: middle;
}

.plan--highlighted {
  background: rgb(11, 190, 190);
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan__annotation {
  background: white;
  color: rgb(8, 131, 131);
  padding: 0.25rem 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 0.25rem;
}

.plan__title {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: chocolate;
}

.plan__price {
  color: rgb(117, 104, 92);
}

.plan--highlighted .plan__title {
  color: rgb(241, 217, 81);
  /* color: rgb(236, 211, 98); */
}

.plan--highlighted .plan__price {
  color: rgb(238, 227, 220);
}

.plan__features {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
}

.plan__features li {
  margin: 0.5rem;
}


/* Start of key features section */
#key-features {
  background-color: rgb(158, 1, 48);
  margin-top: 5rem;
  padding: 1rem 0;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-features__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;  
}

.key-features__list li {
  color: white;
  display: inline-block;
  width: calc(33% - 1rem);
  margin: 0.5rem;
  vertical-align: top;
}

.key-feature__image {
  background: wheat;
  width: 128px;
  height: 128px;
  border: 2px solid darkslategrey;
  border-radius: 50%;
  margin: 0 auto;
  padding: 20px;
}

.key-feature__description {
  font-size: 1.2rem;
  color: aqua;
  text-align: center;
  font-weight: bold;
}

