/* Appllies to all sctoin html tags */
/* section {
  background: #ff468f;
} */

/*  universal selector to override inheritance and apply to all elements that don't have box-sizing set 
     box-sizing: border-box will include padding and border in the element's total width and height */
* {
  box-sizing: border-box;
}

body {
  font-family: "Aurbrey", system-ui;
  margin: 0;
}

#product-overview {
  background: #486e0b;
  width: 100%;
  height:328px;
  padding: 10px;
}

/* applies to all h1 tags inside a product-overview id */
#product-overview h1 {
  color: white;
  font-family: "Aubrey", system-ui;  
}

.section-title {
  color: rgb(135, 202, 126);
}

.main-header {
  width: 100%;
  padding: 8px 16px;
  background-color: rgb(22, 172, 122);  
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: rgb(235, 207, 87);
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width:calc(100% - 75px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;  
  margin: 0 8px;
}
.main-nav__item a {
  color: rgb(235, 207, 87);
  text-decoration: none;
  padding-bottom: 2px;
}
.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 3px solid white;
}



.aubrey-regular {
  font-family: "Aubrey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.glass-antiqua-regular {
  font-family: "Glass Antiqua", cursive;
  font-weight: 400;
  font-style: normal;
}