/* Appllies to all sctoin html tags */
/* section {
  background: #ff468f;
} */

/*  universal selector to override inheritance and apply to all elements that don't have box-sizing set 
     box-sizing: border-box will include padding and border in the element's total width and height */
* {
  box-sizing: border-box;
}

body {
  font-family: "Aurbrey", system-ui;
  margin: 0;
}

#product-overview {
  background: url(Dog.jpg);
  width: 100%;
  height:328px;
  padding: 10px;
}

/* applies to all h1 tags inside a product-overview id */
#product-overview h1 {
  color: white;
  font-family: "Aubrey", system-ui;  
}

.section-title {
  color: rgb(22, 172, 122);
  text-align: center;
}

.plan {
  background-color: aquamarine;
  text-align: center;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  width: calc(33% - 16px);
  vertical-align: middle;
}

.plan--highlighted {
  background: rgb(11, 190, 190);
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan__annotation {
  background: white;
  color: rgb(8, 131, 131);
  padding: 4px 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  border-radius: 4px;
}

.plan__title {
  font-size: 32px;
  margin: 8px 0;
  color: rgb(158, 107, 12);
}

.plan__price {
  color: rgb(117, 104, 92);
}

.plan--highlighted .plan__title {
  color: rgb(236, 211, 98);
}

.plan--highlighted .plan__price {
  color: rgb(238, 227, 220);
}

.plan__features {
  list-style: none;
  margin: 16px auto;
  padding: 0;
}

.plan__features li {
  margin: 8px;
}

.main-header {
  width: 100%;
  padding: 8px 16px;
  background-color: rgb(22, 172, 122);  
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: rgb(236, 211, 98);
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width:calc(100% - 75px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;  
  margin: 0 8px;
}
.main-nav__item a {
  color: rgb(235, 207, 87);
  text-decoration: none;
  padding-bottom: 2px;
}
.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 3px solid white;
}

/* These will override settings in the previous rules simply because 
/* they comes after them in the css file */
.main-nav__item--cta a {
  color: white;
  background: rgb(161, 5, 5);
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  background: white;
  color: rgb(161, 5, 5);
  border: none;
}




.aubrey-regular {
  font-family: "Aubrey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.glass-antiqua-regular {
  font-family: "Glass Antiqua", cursive;
  font-weight: 400;
  font-style: normal;
}