@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,100..900;1,100..900&display=swap');

/*  universal selector to override inheritance and apply to all elements that don't have box-sizing set 
     box-sizing: border-box will include padding and border in the element's total width and height */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  margin: 0;
}

main {
  min-height: calc(100vh - 4rem - 12.5rem);
  margin-top: 4rem;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

/* Start of header and navbar styles */
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: rgb(22, 172, 122);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: rgb(236, 211, 98);
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: rgb(236, 211, 98);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  /* display: inline-block; */
  margin: 0 0.5rem;
}

.main-nav__item a,
.mobile-nav__item a {
  color: rgb(235, 207, 87);
  text-decoration: none;
  padding-bottom: 2px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 3px solid white;
}

/* These will override settings in the previous rules simply because 
/* they comes after them in the css file */
.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: rgb(161, 5, 5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  background: white;
  color: rgb(161, 5, 5);
  border: none;
}


/* Start of footer styles */
.main-footer {
  background-color: black;
  padding: 2rem;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  margin: 1rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: cadetblue;
}

/* Sidebar Styles */

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: rgb(71, 155, 127);
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

/* Common styles */
.button {
  background-color: chocolate;
  color: white;
  font: inherit;
  /* inherit from parent (body) rather than use default browser-supplied setting */
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 2px solid chocolate;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: chocolate;
  background-color: white;
}

.open {
  display: block !important;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  main {
    min-height: calc(100vh - 3rem - 8.25rem);
    margin-top: 2.8rem;
  }

  .main-nav {
    display: inline-block;
  }

  .main-footer__link {
    display: inline-block;
    margin: 0 1rem;
  }
}