main {
  padding-top: 1rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: chocolate;
}

.signup-form {
  padding: 1rem;
}

.signup-form label {
  font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

/* .signup-form input[type="checkbox"] */
.signup-form input[id*="terms"],
.signup-form input[id*="terms"]+label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select { 
  font: inherit;  /* don't use default 'input' font*/
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background: #f4fdf6;
  border-color: rgb(22, 172, 122);
}

.signup-form input[type="checkbox"] {
  border: 1px solid #ccc;
  background: white;
  width: 1rem;
  height: 1rem;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
}

/* Seems to be an old thing.. combined with the above appearance settings newer browser versions.
   Newer browser versions don't seem to use -webkit-appearance and the following fallouts..*/
/* .signup-form input[type="checkbox"]:checked {
  border: rgb(22, 172, 122); 
  background: #f4fdf6; 
} */

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
  border-color: red !important;
  background: #fbdada;
}

.signup-form button[type="submit"] {
  display: block;
  margin-top: 1rem;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #666;
}

@media (min-width: 40rem) {

  .signup-form {
    margin: auto;
    width: 25rem;
  }

}